.Title {
  position: absolute;
  color: rgb(94, 138, 226);
  font-family: 'Times New Roman';
  font-size: 35px;
  left: 5%;
  top: 10%;
}

.header-center {
  position: relative;
  top: 0;
  left: 340px;
}

.header {
  position: relative;
  width: 1000px;
  height: 90px;
}

.header-center-bottom{
  position: absolute;
  top: 50px;
  width: 300px;
}


.header-right{
  position: absolute;
  top: 10px;
  right: 5%;
}

.App{
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:0 auto;
}

.jumbotron{
  min-height: 600px;
}

#MMdrop{
  position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);
}

#MMdropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#MMdropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#MMdropdown:hover #MMdropdown-content {display: block;}

#MMdropdown-content a:hover {background-color:#5C8EF2}

.MMlogin-form {
  width: 350px;
}

.MMlogin-form > *{
  margin: 15px 0;
}

.MM_lable >*{
  display: inline-block;
  margin: 30px;
}

.movie_card{
  width: 500px;
  height: 180px;
  position: relative;
}

.MM-page-header{
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

#MM-prev-btn{
  position: absolute;
  top: 0;
  left: 1%;
}

#MM-next-btn{
  position: absolute;
  top: 0;
  left: 8%;
}

#MM-add-link{
  position: absolute;
  top: 0;
  right: 2%;
}

.checked {
  color: orange;
}

.moviecard-inner {
  height: 100%; 
  width: 800px; 
  position: absolute;
  top: 0; 
  left: 25%
}

.MM-link{
  color: white;
}

.MM-link-dark{
  color: navy;
}

.badge-secondary{
    margin: 2px;
}

.castcard-inner {
  height: 100%; 
  width: 700px; 
  position: absolute;
  top: 0; 
  left: 30%
}

.detail-media-div{
  width: 700px;
  height: 350px;
  padding: 20px;
  background-color: black;
  color: white;
}

.alignleft {
  float: left;
  margin-right: 20px;
  color: navy;
}
.alignright {
	float: right;
  margin-left: 20px;
}

.empty-div {
  margin-left: 25px;
  color: navy;
}

.MM-update-bars{
  width: 300px;
  
}

.span-width{
  margin-left: 12px;
  margin-right: 12px;
}

.loader {
  border: 5px solid navy;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
